@import "tailwindcss";
@import "@heroui/styles";

:root {
  --bg-gradient: #E8E5DF;
}

html, body {
  background: #E8E5DF;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.nav-text {
  color: #8F8E8B;
}