@import "tailwindcss";
@import "@heroui/styles";

:root {
  --bg-gradient: #25211a;
}

html, body {
  background: #25211a;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.nav-text {
  color: rgb(216,212,207);
}