@import "tailwindcss";
@import "@heroui/styles";

:root {
  --bg-gradient: #0615e7c4;
}

html, body {
  background: #1434B5;
  margin: 0;
  padding: 0;
  min-height: 100%;
  /* Force the gradient here */
  background: var(--bg-gradient) !important;
  background-attachment: fixed;
}